<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.npu.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="edu.npu.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="loginAccountId" column="login_account_id" jdbcType="BIGINT"/>
            <result property="departmentId" column="department_id" jdbcType="BIGINT"/>
            <result property="bedId" column="bed_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="personalId" column="personal_id" jdbcType="VARCHAR"/>
            <result property="personalCardUrl" column="personal_card_url" jdbcType="VARCHAR"/>
            <result property="faceId" column="face_id" jdbcType="VARCHAR"/>
            <result property="faceUrl" column="face_url" jdbcType="VARCHAR"/>
            <result property="alipayId" column="alipay_id" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="isCadre" column="is_cadre" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="payType" column="pay_type" jdbcType="INTEGER"/>
            <result property="networkEnabled" column="network_enabled" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,login_account_id,department_id,
        bed_id,name,personal_id,
        personal_card_url,face_id,face_url,
        alipay_id,email,sex,
        is_cadre,status,pay_type,
        network_enabled,is_deleted
    </sql>
</mapper>
