<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.npu.mapper.BedMapper">

    <resultMap id="BaseResultMap" type="edu.npu.entity.Bed">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roomId" column="room_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="receiptId" column="receipt_id" jdbcType="BIGINT"/>
            <result property="isInUse" column="is_in_use" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_id,name,
        receipt_id,is_in_use,is_deleted
    </sql>
</mapper>
