<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.npu.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="edu.npu.entity.Room">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="apartmentId" column="apartment_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="usage" column="`usage`" jdbcType="VARCHAR"/>
            <result property="isForCadre" column="is_for_cadre" jdbcType="TINYINT"/>
            <result property="isReserved" column="is_reserved" jdbcType="TINYINT"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="totalFee" column="total_fee" jdbcType="INTEGER"/>
            <result property="selfPayFee" column="self_pay_fee" jdbcType="INTEGER"/>
            <result property="refundFee" column="refund_fee" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,apartment_id,name,
        usage,is_for_cadre,is_reserved,
        sex,type,total_fee,
        self_pay_fee,refund_fee
    </sql>
</mapper>
